{% extends 'base.html.twig' %}

{% block body %}
  <section class="flex flex-col md:flex-row gap-y-6 justify-center items-center mt-6 md:mt-40 gap-x-12">
    <h1 class="text-5xl md:text-8xl text-center md:text-right">MONSTER<br />JOB</h1>

    <img class="w-full md:w-1/2" src="{{ asset('images/home_splash.svg') }}" alt="Monster JOB" />
  </section>

  <section></section>
{% endblock %}
